{% extends "layout.html" %}

{% block content %}
<div class="bd-cheatsheet container-fluid bg-body">
  <section id="content">


  <div class="col-xs-1" align="center">
  <p class="display-3"> Help Page </p>

    <p class="h3">Try Putting These Stock Names Into the Input Page!</p>

    <div>
      <div class="bd-example">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Company Name</th>
          <th scope="col">Stock Names/Ticker</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
              <a href="{{ url_for('input_stock_post', stockTicker="AMZN") }}">
                  Amazon
              </a>
          </td>
            <td>
                <a href="{{ url_for('input_stock_post', stockTicker="AMZN") }}">
                    AMZN
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ url_for('input_stock_post', stockTicker="GOOG") }}">
                    Google
                </a>
            </td>
            <td>
                <a href="{{ url_for('input_stock_post', stockTicker="GOOG") }}">
                    GOOG
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ url_for('input_stock_post', stockTicker="INTC") }}">
                    Intel Corporation
                </a>
            </td>
            <td>
                <a href="{{ url_for('input_stock_post', stockTicker="INTC") }}">
                    INTC
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ url_for('input_stock_post', stockTicker="MSFT") }}">
                    Microsoft Corporation
                </a>
            </td>
            <td>
                <a href="{{ url_for('input_stock_post', stockTicker="MSFT") }}">
                    MSFT
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ url_for('input_stock_post', stockTicker="TSLA") }}">
                    Tesla Inc
                </a>
            </td>
            <td>
                <a href="{{ url_for('input_stock_post', stockTicker="TSLA") }}">
                    TSLA
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ url_for('input_stock_post', stockTicker="UAL") }}">
                    United Airlines Holdings Inc
                </a>
            </td>
            <td>
                <a href="{{ url_for('input_stock_post', stockTicker="UAL") }}">
                    UAL
                </a>
            </td>
        </tr>
        </tbody>
      </table>
      </div>

{% endblock content %}
