{% extends "layout.html" %}

{% block content %}
<div class="bd-cheatsheet container-fluid bg-body">
  <section id="content">


  <div class="col-xs-1" align="center">
  <p class="display-3"> Help Page </p>

    <p class="h3">Try Putting These Stock Names Into the Input Page!</p>

    <div>
      <div class="bd-example">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Company Name</th>
          <th scope="col">Stock Names/Ticker</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Amazon</td>
          <td>AMZN</td>
        </tr>
        <tr>
          <td>Google</td>
          <td>GOOG</td>
        </tr>
        <tr>
          <td>Intel Corporation</td>
          <td>INTC</td>
        </tr>
        <tr>
          <td>Microsoft Corporation</td>
          <td>MSFT</td>
        </tr>
        <tr>
          <td>Tesla Inc</td>
          <td>TSLA</td>
        </tr>
        <tr>
          <td>United Airlines Holdings Inc</td>
          <td>UAL</td>
        </tr>
        </tbody>
      </table>
      </div>

{% endblock content %}
