{% extends "layout.html" %}


{% block content %}
<div class="bd-cheatsheet container-fluid bg-body">
  <section id="content">


  <div class="col-xs-1" align="center">
  <p class="display-3"> Recommendation with User Input </p>

  <p class="lead">  Making the world of trading more efficient </p>
  </div>

  <p class="h2">Please enter a stock below:</p>

  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.data1.label(class="form-label") }}
      {{ form.data1(class="form-control") }}
    </div>

    <div class="mb-3">
      {{form.submit(class="btn btn-primary") }}
    </div>
  </form>




{% endblock content %}
