{% extends "layout.html" %}


{% block content %}

<style>
    table, th, td {
  border: 1px solid black;
}
    th, td {
  padding: 5px;
}
    .td-heading {
        font-weight: bold;
    }
</style>

<div vocab="https://schema.org/" typeof="Corporation">
    <div>
        <h1 style="display: inline-block" property="tickerSymbol">{{ stock["Symbol"] }} -</h1>
        <h1 style="display: inline-block" property="legalName"> {{ stock["Name"] }}.</h1>
    </div>
    <h3>Summary</h3>
    <div>
        <p style="display: inline-block"><b>Sector</b>: {{ stock["Sector"] }}</p>
        <p style="display: inline-block">| <b>Industry</b>: {{ stock["Industry"] }}</p>
    </div>
    <div style="display: inline-block" typeof="PriceSpecification">
        <table>
            <tr>
                <td class="td-heading">Previous Close</td>
                <td property="price">{{ stock['08. previous close']}}</td>
            </tr>
            <tr>
                <td class="td-heading">Open</td>
                <td property="price">{{ stock['02. open'] }}</td>
            </tr>
            <tr>
                <td>Day low</td>
                <td property="minPrice">{{ stock['04. low'] }}</td>
            </tr>
            <tr>
                <td class="td-heading">Day high</td>
                <td property="maxPrice">{{ stock['03. high'] }}</td>
            </tr>
            <tr>
                <td class="td-heading">52-week low</td>
                <td property="maxPrice">{{ stock["52WeekLow"] }}</td>
            </tr>
            <tr>
                <td class="td-heading">52-week high</td>
                <td property="maxPrice">{{ stock["52WeekHigh"] }}</td>
            </tr>
            <tr>
                <td class="td-heading">50 Day rolling</td>
                <td property="price">{{ stock["50DayMovingAverage"] }}</td>
            </tr>
        </table>
    </div>
    <div style="display: inline-block">
        <table>
            <tr>
                <td class="td-heading">Price</td>
                <td property="price" typeof="PriceSpecification">{{ stock['05. price'] }}</td>
            </tr>
            <tr>
                <td class="td-heading">Market Cap</td>
                <td property="PropertyValue" typeof="value">{{ stock["MarketCapitalization"] }}</td>
            </tr>
            <tr>
                <td class="td-heading">Volume</td>
                <td property="AggregateOffer" typeof="offerCount">{{ stock['06. volume'] }}</td>
            </tr>
            <tr>
                <td class="td-heading">EPS</td>
                <td property="Monetary Amount" typeof="value">{{ stock["EPS"] }}</td>
            </tr>
            <tr>
                <td class="td-heading">PE ratio</td>
                <td property="Monetary Amount" typeof="value">{{ stock["PERatio"] }}</td>
            </tr>
            <tr>
                <td class="td-heading">Change percent</td>
                <td property="Order" typeof="discount">{{ stock['09. change'] }}</td>
            </tr>
            <tr>
                <td class="td-heading">200 Day rolling</td>
                <td property="PriceSpecification" typeof="price">{{ stock["200DayMovingAverage"] }}</td>
            </tr>
        </table>
    </div>
</div>


    <h3>Description</h3>
    <p>{{ stock["Description"] }}</p>
    <h4>Address</h4>
    <p>{{ stock["Address"] }}</p>





{% endblock content %}
